body {
            font-family: 'Inter', sans-serif;
        }
        #video-background-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            z-index: -10;
        }
        #video-background {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        #video-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(17, 24, 39, 0.4); bg-gray-900 with 85% opacity
        }
        .card-bg{
            background: rgba(33, 33, 33, 0.5);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(33, 33, 33, 0.21);
        }
        .command-card {
            transition: all 0.3s ease;
            display: flex;
            flex-direction: column;
        }
        .command-card:hover {
            transform: translateY(-2px);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }
        .command-box {
            position: relative;
            border: 2px solid transparent;
            transition: all 0.2s ease-in-out;
            margin-top: auto;
        }
        .command-box:hover {
            background-color: #1f2937;
            border-color: #ffffff;
        }
        .command-box.copied {
            border-color: rgb(34, 197, 94) !important;
            background-color: #1f2937;
        }
        .command-box.copied::after {
            content: 'Copied!';
            position: absolute; 
            top: 50%;
            right: 1.5rem; /* Positioned on the right side */
            transform: translateY(-50%); /* Only centers vertically */
            background-color: rgb(34, 197, 94);
            color: white; padding: 0.5rem 1rem; border-radius: 0.5rem;
            font-weight: 600; animation: fadeInOut 2s ease-in-out;
        }
        @keyframes fadeInOut {
            0% { opacity: 0; } 20% { opacity: 1; }
            80% { opacity: 1; } 100% { opacity: 0; }
        }